<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Assesoria</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</head>
<body>
    <nav> 
        <div>
            <div>
                <i id="btn-open" class="fas fa-bars user"></i>
            </div>
            <header>
                <a href="/Inicio">
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="Img logo sena">
                </a>
            </header>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                        <h2>Mi cuenta</h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-bell"></i>
                        <h2>Notificaciones</h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <h2>Cerrar Sesi贸n</h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-circle-question"></i>
                        <h2>Ayuda</h2>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="pull-down" id="pull-down">
        <ul>
            <li>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <h2>Mi cuenta</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-bell"></i>
                    <h2>Notificaciones</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de usuarios</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de productos</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de categorias</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de empresa</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de asesorias</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de intercambios</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de compras</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <h2>Cerrar Sesi贸n</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-circle-question"></i>
                    <h2>Ayuda</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="content-all">
        <div class="main-left">
            <a href="/adminUsuarios">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de usuarios</p>
            </a>
            <a href="/adminCliente">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de clientes</p>
            </a>
            <a href="/adminProductos">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de productos</p>
            </a>
            <a href="/adminCategorias">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de categorias</p>
            </a>
            <a href="/adminEmpresas">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de empresa</p>
            </a>
            <a href="/adminAssesorias">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de asesorias</p>
            </a>
            <a href="/adminIntercambio">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de intercambios</p>
            </a>
            <a href="/adminCompras">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de compras</p>
            </a>
            <a href="/adminVentas">
                <div>
                    <img src="img/logo-sena-Naranja-300x300-1.jpg" alt="">
                </div>
                <p>Administrador de ventas</p>
            </a>
        </div>
        <div class="container">
                        <h1 class="text-center">Listado intercambios</h1>
                        <br>
                        <button type="button" class="btn btn-outline-dark" onclick="Listar_Intercambio()">Listar Intercambio</button>
                        <button type="button" class="btn btn-outline-dark" onclick="abrirModalInter()">Registrar Nuevo Intercambio</button><br><br>


                    <div class="container-table">
                        <table class="table ">
                            <th>ID Intercambio</th>
                            <th>Descripci贸n</th>
                            <th>Fecha</th>
                            <th>Nombre vendedor</th>
                            <th>Nombre Cliente</th>
                            <th>Nombre Producto</th>
                            <th>Eliminar</th>
                            <tbody id="tabla">
                            </tbody>
                        </table>
                    </div>
        </div>

        <div class="modal fade" id="MyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Registrar Intercambio</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form >
                        <div class="mb-3">
                          <label for="inputEmail4" class="form-label">Descripci贸n Intercambio</label>
                          <input type="text" class="form-control" name="descripsion" id="descripsion" >
                        </div>
                          <div class="mb-3">
                              <label for="inputEmail4" class="form-label">Fecha</label>
                              <input type="date" class="form-control" name="fecha" id="fecha">
                            </div>
                          <div class="mb-3">
                            <label for="inputEmail4" class="form-label">ID Vendedor</label>
                            <input type="text" class="form-control" name="idVendedor" id="idVendedor" >
                          </div>
                          <div class="mb-3">
                            <label for="inputEmail4" class="form-label">ID Cliente</label>
                            <input type="text" class="form-control" name="idCliente" id="idCliente">
                          </div>
                          <div class="mb-3">
                            <label for="inputEmail4" class="form-label">Id Producto</label>
                            <input type="text" class="form-control" name="idpdto" id="idpdto">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"  onclick="Registrar_Intercambios()" >Registrar</button>
                          </div>
                        </form>
              </div>
            </div>
          </div>

    </div>

</body>
<script src="js/script.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
</html>
<script>

    var myModal = new bootstrap.Modal(document.getElementById('MyModal'), {
        keyboard: false
    })

    function abrirModalInter(){
        myModal.show();
    }


    function Registrar_Intercambios(){

        const datos = new URLSearchParams();
        datos.append('descripsion',document.getElementById('descripsion').value);
        datos.append('fecha',document.getElementById('fecha').value);
        datos.append('idVendedor',document.getElementById('idVendedor').value);
        datos.append('idCliente',document.getElementById('idCliente').value);
        datos.append('idpdto',document.getElementById('idpdto').value);
            
        fetch('/registrarIntercambios',
        {
            method:'post',
            body:datos
        }).then(resp=>resp.json())
        .then(data=>{
            myModal.hide();
            Swal.fire({
            position: 'center',
            icon: 'success',
            title:data.mensaje,
            showConfirmButton: false,
            timer: 1500
            })
        })
        Listar_Intercambio();
    }

    function EliminarIntercambios(ident) {

    fetch(`/EliminarIntercambio/${ident}`,
        {
            method:'get'
        }).then(resp=>resp.json())
        .then(data=>{
            Swal.fire({
            position: 'center',
            icon: 'success',
            title:data.mensaje,
            showConfirmButton: false,
            timer: 1500
            })
            Listar_Intercambio();
        });
    }

    function Listar_Intercambio(){
        
        fetch('/listarIntercambio',
                 {method:'GET'}
        ).then(resp=>resp.json()
        ).then(listaIntercambio=>{

            let html='';

            for(var i=0;i<listaIntercambio.length;i++){
                
                    html+=`<tr><td>${listaIntercambio[i].PK_idIntercambio}</td>`
                    html+=`<td>${listaIntercambio[i].descripcionIntercambio}</td>`
                    html+=`<td>${listaIntercambio[i].fechaIntercambio}</td>`
                    html+=`<td>${listaIntercambio[i].nombreUsuario}</td>`
                    html+=`<td>${listaIntercambio[i].nombreCliente}</td>`
                    html+=`<td>${listaIntercambio[i].nombreProducto}</td>`
                    html+=`<td> <a href='javascript:EliminarIntercambios(${listaIntercambio[i].PK_idIntercambio});' 
                        class='btn btn-outline-dark'>Eliminar</a></td>`
                    html+=`</tr>`;
                }
                document.getElementById('tabla').innerHTML=html;
            })
    }
</script>